/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
body {
    min-height: 100vh;
    background-image: url('assets/homebgr.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    gap: 35px;
}

nav .right {
    padding: 0px;
    margin-left: auto;
    background: #01a3c2;
    border-radius: 4px;
}

nav .phone {
    display: none;
    
}

nav .phone a i {
    
    font-size: 2rem;
}

nav .right:hover, .phone a i:hover {
    background: white;
}

nav .right a:hover, .phone a i:hover {
    color: #01a3c2;
    background: white;
}

nav li:last-child a {
    font-size: 0.9rem;
}

nav li:first-child {
    margin-left: 30px;
}

nav li a {
    color: white;
    padding: 4px;
    text-decoration: none;
    font-size: 1rem;
}

.nav ul a:hover {
    color: #01a3c2;
}

nav .active a {
    font-weight: 900;
    color: #01a3c2;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #414163a1;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding: 10px 20px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}
.bar-icon i {
    font-size: 2rem;
}

.menu-btn {
    display: none;
}

/* Hero Section Styles */
.cbrc-section {
    margin-left: -700px;
}

.section-content {
    display: block;
    color: white;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content-box h1 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: -12px;
}

.box-t-p {
    padding-left: 25px;
    font-size: 3rem;
    margin-bottom: -30px;
}

.box-t-p i {
    color: #01a3c2;
    font-size: 1rem;
}

.box-b-p {
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

.section-btns {
    display: flex;
    justify-content: space-around;
}

.section-content-btns {
    gap: 50px;
    display: flex;
}

.section-content-btns button {
    width: 150px;
    padding: 4px;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    transition: .3s ease-in;
}

.section-content-btns button:hover {
    background-color: #01a3c2;
    border: 2px solid black;
}

.section-content-btns button a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.section-content-social {
    display: flex;
}

.section-content-social ul {
    list-style: none;
    width: 350px;
    padding-top: 190px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    text-align: left;
    margin-bottom: -55px;
}

.section-content-social ul li i {
    color: white;
    font-weight: normal;
    font-size: 1.1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .cbrc-section {
        margin-left: -500px;
    }
}

@media (max-width: 992px) {
    .cbrc-section {
        margin-left: -300px;
    }

    .section-content-box h1 {
        font-size: 4rem;
    }

    .box-t-p {
        font-size: 2.5rem;
    }

    .box-b-p {
        font-size: 1.5rem;
    }
}

@media (max-width: 895px) {
    nav ul {
        padding: 15px;
        gap: 20px;
    }
    .cbrc-section {
        margin-left: -150px;
    }
    .section-content-btns {
        gap: 15px;
        margin-left: -80px;
    }
    .section-content-btns button {
        width: 120px;
        padding: 4px;
        margin-top: 25px;
    }
}

@media (max-width: 725px) {
    .cbrc-section {
        margin-left: -50px;
    }
    .section-content {
    }
    nav ul {
        padding: 15px;
        gap: 12px;
    }
    
    nav .phone {
        display: flex;
    }
    nav .text {
        display: none;
    }
    
}
@media (max-width: 462px) {
    .cbrc-section {
        margin-left: 70px;
    }
    nav .active a {
        font-size: 1.5rem;
    }
    .menu-btn {
        display: flex;
    }
    .bar-tags  {
        display: none;
    }
    
    .box-t-p {
        font-size: 2.5rem;
    }

    .box-b-p {
        font-size: 1.5rem;
    }
    
    .section-content-btns button {
        width: 110px;
    }
    
    .section-content-btns button a {
        font-size: .9rem;
    }
}

